<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
	<servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
		</servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>MainPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/MainPage</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>GameMakerPage</servlet-name>
        <servlet-class>GameMakerPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameMakerPage</servlet-name>
        <url-pattern>/GameMakerPage</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>StoreManagerServlet</servlet-name>
        <servlet-class>StoreManagerServlet</servlet-class>
    </servlet>
	 <servlet-mapping>
        <servlet-name>StoreManagerServlet</servlet-name>
        <url-pattern>/StoreManagerServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>StoreMgrConfirmServlet</servlet-name>
        <servlet-class>StoreMgrConfirmServlet</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>StoreMgrConfirmServlet</servlet-name>
        <url-pattern>/StoreMgrConfirmServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Buy</servlet-name>
        <servlet-class>BuyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Buy</servlet-name>
        <url-pattern>/BuyServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>SubmitOrder</servlet-name>
        <servlet-class>SubmitOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitOrder</servlet-name>
        <url-pattern>/SubmitOrder</url-pattern>
    </servlet-mapping>
	
	
	<servlet>
        <servlet-name>Review</servlet-name>
        <servlet-class>ReviewServlet</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/ReviewServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>SubmitReview</servlet-name>
        <servlet-class>SubmitReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitReview</servlet-name>
        <url-pattern>/SubmitReview</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>ViewReviews</servlet-name>
        <servlet-class>ViewReviews</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>ViewReviews</servlet-name>
        <url-pattern>/ViewReviews</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Check</servlet-name>
        <servlet-class>CheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/CheckServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Salesman</servlet-name>
        <servlet-class>SalesmanAccServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Salesman</servlet-name>
        <url-pattern>/SalesmanAccServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Salesman1</servlet-name>
        <servlet-class>SalesmanAccConfirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Salesman1</servlet-name>
        <url-pattern>/SalesmanAccConfirm</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>CustomerOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/CustomerOrderServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Customer1</servlet-name>
        <servlet-class>CustomerOrdConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Customer1</servlet-name>
        <url-pattern>/CustomerOrdConfirmServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>CartDisplayServlet</servlet-name>
        <servlet-class>CartDisplayServlet</servlet-class>
		</servlet>
    <servlet-mapping>
        <servlet-name>CartDisplayServlet</servlet-name>
        <url-pattern>/CartDisplayServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>CartDisplayConfirmServlet</servlet-name>
        <servlet-class>CartDisplayConfirmServlet</servlet-class>
		</servlet>
    <servlet-mapping>
        <servlet-name>CartDisplayConfirmServlet</servlet-name>
        <url-pattern>/CartDisplayConfirmServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>MicrosoftCatalogPage</servlet-name>
        <servlet-class>MicrosoftCatalogPageServlet</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>MicrosoftCatalogPage</servlet-name>
        <url-pattern>/MicrosoftCatalogPageServlet</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>SonyCatalogPageServlet</servlet-name>
        <servlet-class>SonyCatalogPageServlet</servlet-class>
    </servlet>
	
   <servlet-mapping>
        <servlet-name>SonyCatalogPageServlet</servlet-name>
        <url-pattern>/SonyCatalogPageServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>NintendoCatalogPageServlet</servlet-name>
        <servlet-class>NintendoCatalogPageServlet</servlet-class>
    </servlet>
	
   <servlet-mapping>
        <servlet-name>NintendoCatalogPageServlet</servlet-name>
        <url-pattern>/NintendoCatalogPageServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>AccessoriesCatalogPageServlet</servlet-name>
        <servlet-class>AccessoriesCatalogPageServlet</servlet-class>
    </servlet>
   <servlet-mapping>
        <servlet-name>AccessoriesCatalogPageServlet</servlet-name>
        <url-pattern>/AccessoriesCatalogPageServlet</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ActivisionCatalogPageServlet</servlet-name>
        <servlet-class>ActivisionCatalogPageServlet</servlet-class>
    </servlet>
   <servlet-mapping>
        <servlet-name>ActivisionCatalogPageServlet</servlet-name>
        <url-pattern>/ActivisionCatalogPageServlet</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>EACatalogPageServlet</servlet-name>
        <servlet-class>EACatalogPageServlet</servlet-class>
    </servlet>
   <servlet-mapping>
        <servlet-name>EACatalogPageServlet</servlet-name>
        <url-pattern>/EACatalogPageServlet</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>TakeTwoCatalogPageServlet</servlet-name>
        <servlet-class>TakeTwoCatalogPageServlet</servlet-class>
    </servlet>
   <servlet-mapping>
        <servlet-name>TakeTwoCatalogPageServlet</servlet-name>
        <url-pattern>/TakeTwoCatalogPageServlet</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <servlet-class>ShoppingCartServlet</servlet-class>
    </servlet>
   <servlet-mapping>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <url-pattern>/ShoppingCartServlet</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ShoppingCartOperationsServlet</servlet-name>
        <servlet-class>ShoppingCartOperationsServlet</servlet-class>
    </servlet>
   <servlet-mapping>
        <servlet-name>ShoppingCartOperationsServlet</servlet-name>
        <url-pattern>/ShoppingCartOperationsServlet</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ShoppingCartDisplay</servlet-name>
        <servlet-class>ShoppingCartDisplay</servlet-class>
    </servlet>
   <servlet-mapping>
        <servlet-name>ShoppingCartDisplay</servlet-name>
        <url-pattern>/ShoppingCartDisplay</url-pattern>
    </servlet-mapping>
	
	
	
</web-app>
